.LeaderBoard li {
    display: flex;
    align-items: center;
    background-color: #A7DB56;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
}

.LeaderBoard p {
    margin-left: 15px;
}