/* Color palette
base: #EE6E5D
secondary: #A7DB56, #86429E
*/

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 10px;
  padding: 0px 15px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn {
  background-color: #86429E;
  width: fit-content;
  margin: 0 auto;
}

.btn:hover {
  background-color: #a55ebe;
}

.btn:focus {
  background-color: #4c205c;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #86429E;
  -webkit-box-shadow: 0 1px 0 0 #86429E;
  box-shadow: 0 1px 0 0 #86429E;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 850px) {
  div.mobile {
    width: 100%;
    grid-column: 1/4;
  }
}
