.Game {
    display: flex;
    flex-direction: column;
}
.players {
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player {
    height: 120px;
    width: 120px;
    background-color: #EE6E5D;
    padding: 15px;
    border-radius: 5px;
}

.player-active {
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    height: 150px;
    min-width: 150px;
    background-color: #e0dcdcef;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    margin: 0px 2px;
}

.player-active:hover {
    background-color: #86429E;
}

.clear-game {
    width: fit-content;
    margin: 0 auto;
}