nav {
    background-color: #EE6E5D;
}

.nav-desktop {
    display: none;    
}

.nav-mobile {
    display: block;
    grid-column: 1/4;
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-ul li {
    flex-grow: 1;
}

.nav-ul a {
    padding: 0px 5px;
}

.logo {
    display: flex;
    width: 155px;
}

.logo-c {
    font-size: 75px;
    font-family: 'Bitter', serif;
    position: relative;
    height: 100px;
    width: 85px;
}

.cue {
    font-size: 75px;
}

.first-c {
    position: absolute;
    font-size: 35px;
    top: 0px;
    left: 15px;
}

@media (min-width: 768px){
    .nav-desktop {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }
}