nav {
    height: 65px;
    line-height: 65px;
    background-color: #EE6E5D;
}

.main-nav {
    display: flex;    
}

.nav-mobile {
    height: 45px;
    line-height: 45px;
    background-color: #86429E;
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-ul li {
    flex-grow: 1;
    text-align: center;
}

.nav-ul a {
    padding: 0px 5px;
}

.logo {
    display: flex;
    width: 155px;
}

.logo-c {
    font-size: 75px;
    font-family: 'Bitter', serif;
    position: relative;
    height: 64px;
    width: 85px;
}

.cue {
    font-size: 75px;
}

.first-c {
    position: absolute;
    font-size: 35px;
    top: 0px;
    left: 15px;
}

@media (min-width: 850px){
    .nav-mobile {
        display: none;
    }
}