footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    background-color: #1E2128;
    color: #efefef;
    position: absolute;
    width: 100%;
    bottom: 0px;
}