.player-list {
    grid-column: 1;
}

.player-list ul {
    width: fit-content;
    margin: 0 auto;
}

.player-list li {
    cursor: pointer;
    border-radius: 10px;
    min-width: 135px;
    padding: 10px;
    width: fit-content;
}
.player-list li:hover {
    background-color: #f0a056;
}

.player-icon {
    height: 65px;
}

.player-name {
    margin: 0px;
}
